:root {
  --primary-color: #066a75;
  --hover-color: #066a75;
  --background-color: #f7f7f7;
  --text-color: #fff;
  --box-shadow-color: rgba(0, 0, 0, 0.1);
}

.footer {
  background-color: var(--background-color);
  padding: 20px 0;
  box-shadow: 0 -1px 4px var(--box-shadow-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  max-width: 100%;
  height: 30rem;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  text-align: center;
}

.social-media {
  margin-bottom: 10px;
}

.social-media a {
  margin: 0 10px;
  display: inline-block;
}

.social-media img {
  width: 40px;
  height: 40px;
  transition: transform 0.3s;
}

.social-media img:hover {
  transform: scale(1.1);
}

.footer-info {
  color: var(--primary-color);
}

.footer-info p {
  margin: 0;
}


/* Estilos responsivos */

/* Resolução 1920x1080 */
@media (max-width: 1920px) and (min-width: 1537px) {
  .home-image {
    height: 60em; /* Ajuste a altura conforme necessário */
  }
}

/* Estilos responsivos */

/* Resolução 1536x864 */
@media (max-width: 1536px) and (min-width: 1441px) {
  .container{
    max-width: 100%;
  }
}

/* Resolução 1440x900 */
@media (max-width: 1440px) and (min-width: 1367px) {
  .container{
    max-width: 100%;
  }
}

/* Resolução 1366x768 */
@media (max-width: 1366px) {
  .container{
    max-width: 100%;
  }
}

/* Estilos gerais para tamanhos de tela menores */
@media (max-width: 1200px) {
  .container{
    max-width: 100%;
  }
}

@media (max-width: 992px) {
  .container{
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .container{
    max-width: 100%;
  }
}

@media (max-width: 576px) {
  .footer, .footer .container {
    max-width: 100%;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}
