body {
  font-family: Arial, sans-serif;
}

.container-fluid {
}

.card-about-container {
  border: none;
  margin-top: 10em;
  display: flex;
  align-items: center;

}

.img-fluid{
  width: 40em;
  height: 35em;
}
.card-text-exp{
  font-size: 25px;
  width: 70rem;
}

.card-text{
  font-size: 20px;
  color: white;
  font-weight: bold;
}

.card-title-exp{
  font-size: 50px;
  margin-bottom: 30px;
}

.card-title{
  font-size: 1.7rem;
  color: #f7b360;

}

.no-gutters{
  display: flex;
  align-content: center;
  width: 80em;
}

.additional-info {
  background-color: #979B9E;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  margin-top: 15rem;
}

.additional-info .card {
  background-color: #979B9E;
  border: none;
}

.bi{
  color: #f7b360;
}

.additional-info .card-footer {
  background-color: transparent;
}

.additional-info .info-block .card-body {
  padding: 0;
}

.additional-info .info-block .card-title {
  margin: 0;
  font-weight: bold;
}

.additional-info .info-block .card-text {
  margin: 0;
  font-size: 1.4rem;
}

.additional-info .info-block .d-flex {
  padding: 10px;
}

.info-block {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-body svg {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.card-footer {
  text-align: center;
}

/* Estilos responsivos */

/* Resolução 1536x864 */
@media (max-width: 1536px) and (min-width: 1441px) {

}

/* Resolução 1440x900 */
@media (max-width: 1440px) and (min-width: 1367px) {

}

/* Resolução 1366x768 */
@media (max-width: 1366px) {

}

/* Estilos gerais para tamanhos de tela menores */
@media (max-width: 1200px) {

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {

}

@media (max-width: 576px) {

}
