/* .contacts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #E19634;
  font-size: 40px;
}

.contact-methods{
  width: 100%;
}

.line{
  width: 100px;
  height: 5px;
  background-color: #fff;
  margin: 3rem 0 3rem 60rem;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-item a{
  display: flex;
  align-items: center;
  padding: 1rem;
  margin: 0.5rem 0;
  border-radius: 8px;
  font-size: 25px;
}

.contact-item svg {
  height: 100%;
  margin-right: 0.5rem;
  fill: black;
  transition: fill 0.3s ease;
}

.contact-item svg:hover {
  fill: var(--header-hover-color);
}

.contact-item p {
  height: 100%;
  margin-right: 0.5rem;
  fill: black;
  transition: fill 0.3s ease;
}

.contact-item p:hover {
  fill: var(--header-hover-color);
}

.address{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.address_{
  display: flex;
  flex-direction: column;
}

.address_ p{
  font-size: 25px;
}

.address, .google-map {
  margin-top: 2rem;
}

.google-map {
  width: 100%;
  height: 450px;
  border: 0;
}

.google-map iframe {
  width: 100%;
} */
