/* You can add global styles to this file, and also import other style files */

:root {
  --header-primary-color: #322B26; /* Cor principal para o texto e links */
  --header-hover-color: #FDFDFD; /* Cor de fundo dos links ao passar o mouse */
  --header-background-color: #E19634; /* Cor de fundo do header */
  --header-text-color: #FDFDFD; /* Cor do texto dos links e logo */
  --header-box-shadow-color: rgba(0, 0, 0, 0.1);

  --about-background-color: #c0c1c2; /* Cor de fundo do about */
  --about-heading-color: #E19634; /* Cor dos headings */
  --about-text-color-light: #FFFFFF; /* Cor do texto */
}

@media (max-width: 576px) {
  *{
    max-width: 100%;
  }
}

/* Estilos responsivos */

/* Resolução 1536x864 */
@media (max-width: 1536px) and (min-width: 1441px) {
  *{
    max-width: 100%;
  }
}

/* Resolução 1440x900 */
@media (max-width: 1440px) and (min-width: 1367px) {
  *{
    max-width: 100%;
  }
}

/* Resolução 1366x768 */
@media (max-width: 1366px) {
  *{
    max-width: 100%;
  }
}

/* Estilos gerais para tamanhos de tela menores */
@media (max-width: 1200px) {
  *{
    max-width: 100%;
  }
}

@media (max-width: 992px) {
  *{
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  *{
    max-width: 100%;
  }
}

@media (max-width: 576px) {
  * {
    max-width: 100%;
    width: 100%;
    left: 0;
    right: 0;
  }
}
