.carousel{
  margin-top: 11rem;
}

.home-container {
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.home-image {
  width: 100%;
  height: 70em;
  object-fit: cover; /* Garante que a imagem cubra toda a área sem distorção */
}

/* Classe para ocultar a imagem inicialmente */
.fade-in-image {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

/* Classe para mostrar a imagem */
.fade-in-image.visible {
  opacity: 1;
}
